*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

.clear{
	clear: both;
}

.container{
	max-width: 1280px;
	width:100%;
	margin: 0 auto;
}

header{
	padding: 20px 5%;
}

div.logo{
	float: left;
}

nav.menu-desktop{
 	float: right;
}

nav.menu-desktop ul{
	padding: 25px 10px;
}

nav.menu-desktop li{
	float: left;
	padding: 10px;
	list-style-type: none;
	text-transform: uppercase;
}

nav.menu-desktop li a{
	padding: 0 10px;
	text-decoration: none;
	color: black;	
}

nav.menu-desktop li a:hover{
	color:red;
}

nav.menu-mobile{
	margin-top: 20px;
	display:none;
	width: 70px;
	height: 70px;
	float: right;
	list-style-type: none;
	background-image: url('../img/icons-menu.png');
	background-size:100% 100%;
	cursor: pointer;
}

nav.menu-mobile ul{
	width: 100%;
	position: absolute;
	text-align: center;
	background-color: white;
	left: 0;
	top: 130px;
	z-index: 100;
	display: none;
}

nav.menu-mobile li{
	list-style-type: none;
	padding: 10px;
	font-size: 23px;
	font-style: italic;
	border-bottom: 1px solid grey;
}

nav.menu-mobile a{
	text-decoration: none;
	color: black;
}

section.banner-principal{
	overflow:hidden;
	width: 100%;
	height: 550px;
	background-color: black;
	background-image: url('../img/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.text-banner{
	padding:70px;
}

.text-single{
	width: 314px;
	font-style: italic;
	margin-top:30px;
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	text-transform: uppercase;
	color: white;
	font-size: 23px;
	background-image: url('../img/box-text.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.text-banner .text-single:nth-of-type(2){
	width: 200px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -10px;
}

.text-banner .text-single:nth-of-type(3){
	width: 170px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -20px;
}

.text-banner .text-single:nth-of-type(4){
	width: 320px;
	height: 60px;
	font-size: 21px;
	color: black;
	position: relative;
	left: -30px;
	line-height: 70px;
	background-image: url('../img/box-white-text.png');
}

section.destaque{
	padding: 90px 2%;
}

section.destaque .container{
	max-width: 1000px;
	padding: 40px 0;
	text-align: left;

}


section.destaque .line-title,
section.contato .line-title{
	position: relative;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

.line{
	position: absolute;
	width: 100%;
	height: 2px;
	top:20px;
	background-color: black;
}

section.destaque .line-title h2,
section.contato .line-title h2{
	position: relative;
	background-color: white;
	display: inline-block;
	text-align: center;
	font-size: 27px;
	padding:0 10px;
}

.vitrine-destaque{
	float: left;
	width: 33.3%;
}

.vitrine-destaque .carro-img{
	width: 100%;
	padding-top: 100%;
	border: 8px solid white;
	background-size: 100% 100%;
}

.vitrine-destaque h2{
	padding-left: 8px;
	color: black;
	font-style: italic;
	font-size: 20px;
}

.vitrine-destaque p{
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
	padding-top: 8px;
}

.vitrine-destaque a{
	margin-top: 10px;
	margin-left: 8px;
	
}

.btn1{
	color: white;
	font-size: 16px;
	font-style: italic;
	width: 150px;
	line-height: 40px;
	text-align: center;
	display: block;
	background-color: #EB2D2D ;
	text-decoration: none;
	border-bottom: 5px solid #B21E1E;
}

.servicos-descricao{
	display: flex;    /*ao invés de usar float nas divs filhas, usar o display flex ajuda a ajustar a altura das divs(altura fica igual)*/
}

.half1{
	width: 50%;

	text-align: center;
	padding: 90px 0;
	background: #242424;
	color: white;
}

.half-wraper{
	text-align: left;
	display: inline-block;
}

.half-wraper h2,
.half2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half-wraper ul{
	display: inline-block;
	margin-top: 20px;
	
}

.half-wraper li{
	margin-left: 15px;
}

.half-wraper a{
	margin-left: 40px;
	display: inline-block;
	vertical-align: bottom;
}

.half2{
	width: 50%;
	text-align: center;
	padding: 90px 100px;
	background: #EB2D2D;
	color: white;
}

.half2 .depoimento-single{
	margin-top: 19px;
}

.half2 .depoimento-single p{
	font-size: 20px;
}

.arrows{
	float:left;
}

.navigator{
	float: left;
	margin-top: 40px;
	width: 50%;
	max-width: 700px;
}

.navigator img{
	cursor:pointer;
	margin: 0 20px;
}

.nome-depoimento{
	float: right;
	margin-top: 40px;
	color: #252525;
	font-size: 23px;

}

section.contato .line-title{
	position: relative;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

section.contato .line-title h2{
	font-size: 20px;
	font-style: italic;
}

section.contato{
	padding: 80px 2%;
}

section.contato form{
	max-width: 600px;
	margin: 50px auto;
}

section.contato .form-wraper{
	float: left;
	padding: 10px;
	margin-top: 15px;
}

section.contato input[type=text]{
	width: 100%;
	border:1px solid #ccc;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}

section.contato textarea{
	width: 100%;
	border:1px solid #ccc;
	line-height: 40px;
	padding-left: 15px;
	height: 120px;
}

section.contato form .form-wraper:nth-of-type(5){
	text-align: center;
}

section.contato input[type=submit]{
	border: 0;
	cursor: pointer;
	display: inline-block;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

footer{
	background-color: #252525;
	padding: 40px 2%;
}

footer nav{
	float: left;
}


footer li{
	float: left;
	list-style-type: none;
	font-size: 19px;
	font-style: italic;
	padding: 0 35px;
}

footer li a{
	text-decoration: none;
	padding-right: 20px;
	color: white;
}

footer p{
	float: right;
	color: white;
	font-size: 15px;
	font-style: italic;
	margin-top: 8px;
}

@media screen and (max-width:850px){
	.half-wraper a{
		margin-top: 20px;
		display: block;
		margin-left: 0;
	}

}


@media screen and (max-width: 768px){
	section.banner-principal{
		background-size: cover;
		background-position: 100px center;
		height: 80vh;
	}

	nav.menu-desktop{
		display: none;
	}

	nav.menu-mobile{
		display: block;
	}

	section.servicos-descricao{
		flex-direction: column;
	}

	.half1{
		text-align: center;
		padding: 80px 100px;
	}

	.half1,.half2{
		width: 100%;
	}

	.half-wraper{
		padding-right: 0;
		text-align: left;
	}

	.w50{
		width: 100%;
	}

	footer nav{
		display: none;
	}

	footer{
		text-align: center;
	}

	footer p{
		float:none;
	}

}

@media screen and (max-width: 580px){
	.text-banner{
		padding:30px;
	}

	.text-single{
		width: 240px;
		font-size: 18px;
	}

	.text-banner .text-single:nth-of-type(4){
		width: 270px;
	}

	section.destaque .line-title h2{
		font-size: 23px;
	}

	section.destaque .container{
		max-width: 1000px;
		padding: 40px 0;
		text-align: center;
	
	}

	.vitrine-destaque{
		float: none;
		width: 80%;
		display: inline;
		margin-top: 20px;
	}

	.vitrine-destaque a{
		display: inline-block;
	}
}

@media screen and (max-width:480){
	.vitrine-destaque{
		width: 100%;
	}
}